<div class="container">
  <a routerLink="/" class="back-btn">⬅ Volver a la lista</a>

  @if (character) {
    <div class="detail-layout">
      
      <div class="main-card">
        <img [src]="character.image" [alt]="character.name">
        <div class="status-badge" [class]="character.status">
          {{ character.status }}
        </div>
        <h1>{{ character.name }}</h1>
        <p class="species">{{ character.species }} - {{ character.gender }}</p>
      </div>

      <div class="info-panel">
        <div class="section">
          <h3>Información</h3>
          <p><strong>Origen:</strong> {{ character.origin?.name }}</p>
          <p><strong>Ubicación Actual:</strong> {{ character.location.name }}</p>
        </div>

        <div class="section">
          <h3>Episodios ({{ character.episode.length }})</h3>
          <div class="episode-list">
            @for (ep of character.episode; track ep) {
              <span class="episode-tag">Episodio {{ getEpisodeNumber(ep) }}</span>
            }
          </div>
        </div>
      </div>

    </div>
  } @else {
    <p>Cargando detalles...</p>
  }
</div>