<div class="container">
  <a routerLink="/" class="back-link">⬅ Volver a la lista</a>

  @if (character) {
    <div class="detail-card">
      
      <div class="image-col">
        <img [src]="character.image" [alt]="character.name">
      </div>
      
      <div class="info-col">
        <h1>{{ character.name }}</h1>
        <span class="status" [class]="character.status">{{ character.status }}</span>
        
        <div class="meta-data">
          <p><strong>Especie:</strong> {{ character.species }}</p>
          <p><strong>Género:</strong> {{ character.gender }}</p>
          <p><strong>Origen:</strong> {{ character.origin.name }}</p>
          <p><strong>Ubicación:</strong> {{ character.location.name }}</p>
        </div>

        <div class="episodes-section">
          <h3>Aparece en {{ character.episode.length }} episodios:</h3>
          <div class="episode-grid">
            @for (ep of character.episode; track ep) {
              <span class="ep-badge">Ep. {{ getEpisodeNumber(ep) }}</span>
            }
          </div>
        </div>
      </div>

    </div>
  } @else {
    <p class="loading">Cargando datos del sujeto...</p>
  }
</div>