<div class="container">
  <h1>Lista de Personajes de Rick and Morty</h1>
  
  <div class="character-grid">
    @for (character of characters; track character.id) {
      <div class="card" [routerLink]="['/character', character.id]" style="cursor: pointer;">
        <img [src]="character.image" [alt]="character.name">
        <div class="info">
          <h3>{{ character.name }}</h3>
          <p><strong>Especie:</strong> {{ character.species }}</p>
          <p><strong>Estado:</strong> {{ character.status }}</p>
          <p><strong>Ubicación:</strong> {{ character.location.name }}</p>
        </div>
      </div>
    } @empty {
      <p>Cargando personajes, espere por favor..</p>
    }
  </div>
</div>