<div class="container">
  <h1>Lista De Personajes De Rick and Morty</h1>

  <div class="filters-container">
    <div class="search-group">
      <input 
        [(ngModel)]="currentSearch" 
        (keyup.enter)="filter()"
        type="text" 
        placeholder="Buscar por nombre...">
      <button (click)="filter()">🔍</button>
    </div>

    <select [(ngModel)]="currentStatus" (ngModelChange)="filter()"> <option value="">Todos los Estados</option>
      <option value="alive">Vivo (Alive)</option>
      <option value="dead">Muerto (Dead)</option>
      <option value="unknown">Desconocido</option>
    </select>

    <select [(ngModel)]="currentSpecies" (ngModelChange)="filter()"> <option value="">Todas las Especies</option>
      <option value="human">Humano</option>
      <option value="alien">Alien</option>
      <option value="humanoid">Humanoide</option>
      <option value="robot">Robot</option>
    </select>
  </div>
  
  <div class="character-grid">
    @for (character of characters; track character.id) {
      <div class="card" [routerLink]="['/character', character.id]">
        <img [src]="character.image" [alt]="character.name">
        <div class="info">
          <h3>{{ character.name }}</h3>
          <p><strong>Especie:</strong> {{ character.species }}</p>
          <p><strong>Estado:</strong> {{ character.status }}</p>
          <p><strong>Ubicación:</strong> {{ character.location.name }}</p>
        </div>
      </div>
    } @empty {
      <div class="no-results">
        <p>🚫 No encontramos a nadie con este nombre.</p>
      </div>
    }
  </div>

  @if (characters.length > 0) {
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }}</span>
      <button (click)="nextPage()">Siguiente</button>
    </div>
  }
</div>