<div class="container">
  <div class="header">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pokémon_logo.svg" alt="Pokemon Logo" class="logo">
    <h1>¡Atrápalos Ya!</h1>
  </div>

  <div class="pokemon-grid">
    @for (pokemon of pokemonList; track pokemon.name) {
      <div class="card" [routerLink]="['/pokemon', pokemon.name]">
        <div class="card-image">
          <img [src]="getPokemonImage(pokemon.url)" [alt]="pokemon.name">
        </div>
        <div class="card-info">
          <h3>{{ pokemon.name | titlecase }}</h3> <span class="view-btn">Ver Detalles</span>
        </div>
      </div>
    } @empty {
      <p>Cargando Pokémon...</p>
    }
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="offset === 0">◀ Anterior</button>
    <button (click)="nextPage()">Siguiente ▶</button>
  </div>
</div>